In [18]:
from peewee import *
import pandas as pd
db = SqliteDatabase('../definitions.db')

In [27]:
db.close()

True

In [20]:
with db:
    cursor = db.execute_sql("SELECT * FROM estimator")
    allRows = cursor.fetchall()

In [21]:
print(allRows)

[('salaryPredictor', '2019-05-27 17:59:34.679161', 1, 'LR', None, None, 0.001, None, None, 1), ('salaryPredictor2', '2019-05-27 18:06:49.640196', 1, 'LR', 'salary~years', None, 0.001, None, None, 1), ('salaryPredictor3', '2019-05-28 19:30:56.047145', 1, 'LR', 'salary~years', None, 0.001, None, None, 1)]

In [23]:
df = pd.DataFrame(allRows)

In [24]:
df

,0,1,2,3,4,5,6,7,8,9
0,salaryPredictor,2019-05-27 17:59:34.679161,1,LR,None,None,0.001,None,None,1
1,salaryPredictor2,2019-05-27 18:06:49.640196,1,LR,salary~years,None,0.001,None,None,1
2,salaryPredictor3,2019-05-28 19:30:56.047145,1,LR,salary~years,None,0.001,None,None,1

In [28]:
df = pd.read_sql("SELECT * FROM estimator", db.connection())

In [29]:
df

,name,date_created,isAvailable,estimatorType,formula,loss,lr,optimizer,regularizer,trainable
0,salaryPredictor,2019-05-27 17:59:34.679161,1,LR,None,None,0.001,None,None,1
1,salaryPredictor2,2019-05-27 18:06:49.640196,1,LR,salary~years,None,0.001,None,None,1
2,salaryPredictor3,2019-05-28 19:30:56.047145,1,LR,salary~years,None,0.001,None,None,1

In [30]:
df.name

0     salaryPredictor
1    salaryPredictor2
2    salaryPredictor3
Name: name, dtype: object

In [33]:
type(df['name'].values)

numpy.ndarray

In [38]:
df[['name', 'formula']].values

array([['salaryPredictor', None],
       ['salaryPredictor2', 'salary~years'],
       ['salaryPredictor3', 'salary~years']], dtype=object)

In [39]:
df[['name', 'formula']].values

array([['salaryPredictor', None],
       ['salaryPredictor2', 'salary~years'],
       ['salaryPredictor3', 'salary~years']], dtype=object)

In [40]:
fields = ['name', 'formula']
df[fields].values

array([['salaryPredictor', None],
       ['salaryPredictor2', 'salary~years'],
       ['salaryPredictor3', 'salary~years']], dtype=object)